:root {
	--sans-font: -apple-system,BlinkMacSystemFont,"Avenir Next",Avenir,"Nimbus Sans L",Roboto,"Noto Sans","Segoe UI",Arial,Helvetica,"Helvetica Neue",sans-serif;
}

body {
  background-color: #000;
  color: white;
  background-image: url(https://bettysgraphics.neocities.org/images/backgrounds/pattern%20534.gif);
}

#container {
	max-width: 1000px;
	width: 1000px;
	margin: 10px;
}
#container a {
	font-weight: bold;
	display: flex;
}

.box {
	padding: 10px;
	background-color: purple;
}

h1 {
	font-size:35px;
}

footer {
	background-color: indigo;
	padding: 10px;
	text-align: center;
	border: 1px solid black
}

#headImg {
	color: #ED64F5;
	height: 300px;
	background-image: url(https://sadhost.neocities.org/images/layouts/wp.jpeg);
	background-size: 100%;
}

#main {
	border: 4px solid white;
	background-color: #43256E;
	flex: 1;
	order: 2;
}

#sidebar {
	order: 1;
}

.navbar li a {
	text-decoration: none;
}

.navbar ul {
	display: flex;
	padding: 0;
	margin: 0;
	list-style-type: none;
	justify-content: space-evenly;
}

.navbar li a:hover {
	color: #a49cba;
	text-decoration: underline;
}

#flex {
	display: flex;
}

.imgContainer {
	float: right;
	order: 3;
}

a:link, a:visited {
	color: violet;
	text-decoration: none;
}

a:hover {
	color: violet;
	text-decoration: underline;
}

#grid {
	display: grid;
	grid-template-columns: repeat(30, 1fr);
	grid-template-rows: repeat(30, 1fr);
	background-color: white;
	width: 900px;
	height: 900px;
}

#cell {
	padding: 10px;
	border: 1px black solid;
}
